extends ../layout

block content
	include partials/mainnavbar.jade
	div(id="margin")
	div(class="container")
		div(class="row")
			div(class="col-md-12")
				br
				h3= data.title
				h5= data.location
				h5= data.education
				h5= data.compensation
		hr
		div(class="row")
			div(class="col-md-12")
				h4 Required Skills
				div(id="skills")
		br
		div(class="row")
			div(class="col-md-12")
				h4 Responsibilities
				div(id="details")
		br
		div(class="row")
			div(class="col-md-12")
				h4 Benefits
				div(id="benefits")
		div(class="row")
			div(class="col-md-12")
				div(id="form")
					form(method="POST" action=`/static/application/${data.id}`)
						h2(class="text-center") Application for 
							span= data.title
						if message
							div(id="message")
								h4= message
						br
						label(for="name") Full Name
						input(class="form-control" type="text" name="fullname" placeholder="ex. John Doe" required)
						br
						label(for="email") Email
						input(class="form-control" type="email" name="email" placeholder="ex. JohnDoe@example.com" required)
						br
						label(for="phonenumber") Phone Number
						input(class="form-control" type="text" name="phonenumber" placeholder="ex. 123-456-7899" required)
						br
						label(for="email") Paste Your Resume Here
						textarea(class="form-control" type="text" name="details" required)
						br
						button(class="btn btn-outline-danger btn-lg btn-block") Send Resume
	include partials/footer.jade
	script(src="/javascripts/application.js")