extends ../layout

block content
	include partials/mainnavbar.jade
	div(id="margin")
	div(class="container")
		div(class="row")
			div(class="col-md-12")
				img(src="../images/growth.jpg" width="100%" height="300px")
		hr
		div(class="customDisplay")
			each d in data
				div(id="jobsContainer")
					div(class="row")
						div(class="col-sm-12")
							h4 Title: 
								a(href=`/static/application/${d.id}`)= d.title
							h5 Compensation: 
								span= d.compensation
					div(class="row")
						div(class="col-sm-6")
							h5 Location: 
								span= d.location
					div(class="row")
						div(class="col-sm-12")
							h5 Education: 
								span= d.education
							br
							a(href=`/static/application/${d.id}`)
								button(class="btn btn-outline-danger btn-lg btn-block") Apply
	include partials/footer.jade